* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    text-align: center;
}
.container {
    padding:0 40px;
}
.menu-item{
    position: relative;
    border: 2px solid #141414;
    background-color: #999999;
    margin-bottom: 20px;
} 
.caption{
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    margin: 0;
    width: 30%;
    border-right: 0;
    border-top: 0;
    text-align: center;
}
.caption-1 {
    background-color: #d59998;
}
.caption-2 {
    background-color: #c14643;
    color: white;
}
.caption-3 {
    background-color: #e5d198;
}  
.description{
    margin: 34px 10px 4px 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-box {
        float:left;
    }  
    .menu-box-1 {
        width: 50%;
        padding-right: 8px;
    }
    .menu-box-2 {
        width: 50%;
        padding-left: 8px;
    }
}
@media (min-width: 992px) {
    .menu-box {
        float: left;
        width: 33.3%;
        padding: 0 18px;
    }
}